<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <meta name="title"  content="{% if page.title %}{{ page.title }}{% else %}{{ page.title }}{% endif %}">
    <link rel="shortcut icon" type="image/png" href="../css/favicon.png">
    <link type="text/css" rel="stylesheet" href="../css/style.css" id="theme" />
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/n/feed.xml">
</head>
<body>
    <main>
      {{ content }}
    </main>

    <style>
        h1 {
            color: #C533FF;
        }
        
        h2 {
            border-bottom: dashed 2px;
            border-color: #C533FF;
            border-width: 4px;
        }

        a {
            font-style: italic;
        }
    </style>
</body>
</html>